body {
    margin: 0;
    padding: 0;
    background-color:black;
    
  }
   
  .font{
    color :green;
    font-family: 'Akronim', cursive;
    text-align:  center;
    font-size: 110px;;
    border: lawngreen;


}
.flop{
  background-color: black;
  width: 270px;
  /*margin-left:70px ;*/
  font-size: 40px;
  border: solid 1px green;
  color: darkgreen;
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family: 'Bellota', cursive;


}
.knopki{
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.volik{
  color: darkgreen;
  text-decoration: none;
}

.bitless{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 120px;
}
.butcup{
 margin-left: 30px;
 
 display: inline-block

}
.contuner{

  color: darkgreen;
}
.photol{
  width: 1%;
  height: 10%x;
}